<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Noob_2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Noob_2._0.Properties.Settings>
            <setting name="SavedHotkeyMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedHotkeyValue" serializeAs="String">
                <value>119</value>
            </setting>
            <setting name="SavedInvertMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Noob_2._0.Properties.Settings>
    </userSettings>
</configuration>